<h2>User info</h2>
<div class="my-2">
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "http://placehold.jp/100x100.jpg?text=Profile" %>
</div>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>

<div class="-row">
  <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

<div class="my-2">
  <%= render 'books/post-book', books: @books %>
</div>
