<div>
<span><%= link_to "Bookers", books_path %></span>

<h3><%= @user.name %></h3>
<%# <%= image_tag('sample-author1.jpg') %>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "http://placehold.jp/100x100.jpg?text=Profile" %>

<%# ログインユーザー自身であれば（かつログインしていれば）、自身のプロフィール編集が可能 %>
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>
</div>

<hr/>

<%# ユーザー自信の投稿一覧を閲覧する %>
<%= render 'books/list', books: @books %>