<h1>Books</h1>
<h2>投稿一覧</h2>

<hr/>

<%# TOP %>
<div><%= link_to "top", top_path %></div>
<span><%= link_to "New Create", new_book_path %></span>

<hr/>



<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "http://placehold.jp/100x100.jpg?text=Profile" %>

<div>
My Name： <%= current_user.name %>
<%= link_to 'マイページ', user_path(current_user.id) %>
</div>

<hr/>

<%= render 'books/list', books: @books %>
