<h1>Books</h1>
<h2>投稿一覧</h2>

<div><%= link_to "top", top_path %></div>
<span><%= link_to "New Create", new_book_path %></span>

<% @books.each do |book| %>
  <p>ユーザーネーム：<%= book.user.name %></p>
  <p>タイトル</p>  
  <%# <%= link_to book.title, "/books/#{book.id}" %>
  <span><%= link_to book.title, book_path(book.id) %></span>
  <p>本文</p>  
  <span><%= book.body %></span>
  <%# Refile画像 %>
  <%= link_to book_path(book.id) do %>  
    <p>画像</p>
    <%= attachment_image_tag book, :image, :fill, 100, 100, format: 'jpeg' %>
  <% end %>
<% end %>
