<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Bookers", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <%# ログイン後 %>
        <% if user_signed_in? %>
          <li>
              <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                <i class="fas fa-house fa-w-18 pr-1"></i>Home
              <% end %>
          </li>
          <li>
              <%= link_to users_path, class: "nav-link text-light" do %>
                <i class="fas fa-users fa-w-18 pr-1"></i>Users
              <% end %>
          </li>
          <li>
              <%= link_to users_path, class: "nav-link text-light" do %>
                <i class="fas fa-book-open fa-w-18 pr-1"></i>Books
              <% end %>
          </li>
          <li>
              <%= link_to destroy_user_session_path, class: "nav-link text-light" do %>
                <i class="fas fa-sign-out-alt fa-w-18 pr-1"></i>Log out
              <% end %>
          </li>
        <%# ログイン前 %>
        <% else %>
          <li>
              <%= link_to root_path, class: "nav-link text-light" do %>
                <i class="fas fa-house fa-w-18 pr-1"></i>Home
              <% end %>
          </li>
          <li>
            <%= link_to about_path, class: "nav-link text-light" do %>
              <i class="fas fa-link pr-1"></i>About
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
              <i class="fas fa-user-plus pr-1"></i>Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: "nav-link text-light" do %>
              <i class="fas fa-sign-in-alt pr-1"></i>Log in
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
